._button span{
	position: absolute;

	/*居中*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	display: block;
	padding: 10px 15px;
	border: 1px solid #262626;
	color: #262626;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: .5s;
}

._button span:hover{
	background: #262626;
	color: #fff;
}

._button span:before{
	content: '';
	position: absolute;
	top: -1px;
	left: -1px;
	width: 100%;
	height: 100%;
	background: transparent;
	border: 1px solid #262626;
}

._button span:hover:before{
	transform: scale(1.2,1.4);
	opacity: 0;
	transition: .5s;
}