._search img{
	float: right;
	margin-right: 20px;
	width: 30px;
	height: 30px;
	filter: invert(62%) sepia(92%) saturate(0) hue-rotate(35deg) brightness(2000%) contrast(100%);
}

/*._search img:hover{
	filter: invert(62%) sepia(92%) saturate(100) hue-rotate(35deg) brightness(300%) contrast(100%);
	transition: .5s;
}*/