._header {
    width: 100vw;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0);
}

._header:hover{
    background: rgba(255,255,255,0.98);
    box-shadow:0px 1.5px 1.5px #c8c8c8;
    transition: .5s;
}

._logo {
    width: 15%;
}

._content {
    width: 75%;
}

._search {
    width: 10%;
}