._header {
    width: 100vw;
    height: 75px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

._logo {
    width: 10%;
}

._content {
    width: 80%;
}

._search {
    width: 10%;
}