*{
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5;
    cursor: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/normal.cur),auto;
}

a {
    background-color: transparent;
    text-decoration: none;
    cursor: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/ayuda.cur),auto;
}

body{
	background: #fff;
}


body::-webkit-scrollbar {
	display: none;
    width: 16px;
    height: 16px;
    background-color: #fafafa;
}

/*aplayer样式修改*/
.aplayer .aplayer-lrc {
	height: 35px;
}
.aplayer .aplayer-lrc p{
	font-size: 16px;
	font-weight: 700;
	line-height: 18px !important;
}
.aplayer .aplayer-lrc p.aplayer-lrc-current{
	color: #FF1493;
}
.aplayer.aplayer-narrow .aplayer-body{
	left: -66px !important;
}
.aplayer.aplayer-fixed .aplayer-lrc {
	display: none;
}
.aplayer .aplayer-lrc.aplayer-lrc-hide {
	  display:none !important;
}
.aplayer.aplayer-fixed .lrc-show {
	display: block;
	background: rgba(255, 255, 255, 0.8);
}


#root{
	overflow-x: hidden;
	overflow-y: auto;
	/*-webkit-overflow-scrolling: touch;*/
}

._header{
	position: fixed;
	top: 0;
	z-index: 9999;
}

._header:hover ._logo a span:nth-child(1){
	background: #FE9600;
	border-radius: 12px;
	color: #fff;
	transition: 0.5s;
}

._header:hover ._logo a span:nth-child(2){
	color: #FE9600;
	transition: 0.5s;
}

._header:hover ._content{
	opacity: 1;
}

._header:hover ._search img{
	opacity: 1;
}